.cardBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 5px;
  }
  .image {

  }
  .genres {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    > * {
      margin-top: 5px;
    }
  }
  .rating {
    font-size: 0.95em;
  }
}

